
body {
  padding: 30px;
}
.flex {
  display: flex;
}
.label {
  display: inline;
  color: #677482;
}
#last-updated {
  color: #468FAA;
}


/* Temp mobile styles until I redo responsive */
@media (min-width: 0) and (max-width: 767px) {
  .exercise-lists ul {
    & input {
      padding-left: 2px !important;
      padding-right: 2px !important;
      font-size: 14px;
    }
    & .pause,
    & .delete {
      display: none;
    }
    & .timestamp {
      max-width: 50px;
    }
  }
}


.exercise-lists {
  & ul {
    padding-left: 0;
  }
  & li,
  & input {
    height: 40px !important;
  }
  & li {
    margin-bottom: 0;
    border-top: 1px solid #18252f !important;
    align-items: center;
  }
  & li:nth-child(odd) {
    background-color: #131e25;
  }
  & li > * {
    margin-bottom: 0 !important;
  }
  & input {
    border: none;
    padding: 0 15px !important;
    background: transparent;
  }
  & button {
    margin-left: 5px;
    border: none;
    padding: 0 10px;
    width: auto;
  }
  & li {
    border: 1px solid transparent;
    display: flex;
  }
  & li:hover {
    background-color: #192833;
    cursor: pointer;
    & input {
      cursor: pointer;
    }
  }
  & .paused {
    opacity: 0.4;
  }
  & .edit-mode input {
    border: 1px solid #d1d5da;
  }
  & .timestamp {
    max-width: 170px;
  }
}
.done {
  background-color: #28a745;
}
.delete {
  background-color: #b4231b;
}
.pause {
  background-color: #CA7D12;
}
button[type="submit"] {
  background-color: #28a745;
  border: none;
}
