.loading {
  text-align: center;
  & svg {
    width: 50px;
    animation: spin 1s linear infinite;
  }
  & path {
    fill: #4790AA
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notification-bar {
  display: none;
  padding: 5px;
  background-color: #2095C1;
  text-align: center;
  color: #fff;
  &.show {
    display: block;
  }
}

/*
 * Login, logout and registration
 */
#auth {
  display: none;
}

/*
 * Site wrap
 */
.site-wrap {
  padding: 10px;
}
@media (min-width: 768px) {
  .site-wrap {
    padding: 30px;
  }
}


.info-bar {
  justify-content: space-between;
}
@media (min-width: 900px) {
  .info-bar {
    display: flex;
  }
}
@media (min-width: 0) and (max-width: 767px) {
  #logout-link {
    display: block;
  }
}

body p {
  font-weight: 300;
}
h2 {
  margin-bottom: 15px;
  color: #70a5cc;
  font-weight: 200;
  font-size: 30px;
}
.flex {
  display: flex;
}
button {
  font-weight: 300;
}
.label {
  display: inline;
  color: #677482;
}
#last-updated {
  color: #468FAA;
}
#logged-in-status {
  margin-right: 30px;
  color: #CC7F11;
  text-align: right;
}

/**
  * Mobile
  */
@media (min-width: 0) and (max-width: 767px) {
  .exercise-lists ul {
    & input {
      padding-left: 3px !important;
      padding-right: 3px !important;
      font-size: 15px;
    }
    & .tags,
    & .pause,
    & .delete {
      display: none;
    }
    & .timestamp {
      max-width: 50px;
    }
  }
}

/*
 * Dashboard: everything except login, logout and registration
 */
#dashboard {
  display: none;
}

.add-exercise-button {
  width: 250px;
  background-color: #28a745;
  border: none;
}
.save-button {
  margin-left: auto;
  margin-right: 0;
  max-width: 200px;
  height: 62px;
}
.exercise-lists {
  & ul {
    padding-left: 0;
  }
  & li,
  & input {
    font-weight: 300;
  }
  & li {
    margin-bottom: 0;
    border-top: 1px solid #18252f !important;
    align-items: center;
  }
  & li:nth-child(odd) {
    background-color: #131e25;
  }
  & li > * {
    margin-bottom: 0 !important;
  }
  & input {
    border: none;
    padding: 0 15px !important;
    background: transparent;
  }
  & button {
    margin-left: 10px;
    border: none;
    padding: 0 10px;
    width: 40px;
    height: 40px;
  }
  & button svg {
    width: 20px;
    height: 20px;
  }
  & li {
    border: 1px solid transparent;
    display: flex;
  }
  & li:hover {
    background-color: #192833;
    cursor: pointer;
    & input {
      cursor: pointer;
    }
  }
  & .paused {
    opacity: 0.4;
  }
  & .edit-mode input {
    border: 1px solid #d1d5da;
  }
  & .timestamp {
    max-width: 170px;
  }
}
.done {
  background-color: #28a745;
}
.delete {
  background-color: #b4231b;
}
.pause {
  background-color: #CA7D12;
}
