
body {
  padding: 30px;
}
.flex {
  display: flex;
}
.label {
  display: inline;
  color: #677482;
}
#last-updated {
  color: #468FAA;
}
.exercise-lists {
  & ul {
    padding-left: 0;
  }
  & li,
  & input {
    height: 40px !important;
  }
  & li {
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    
    align-items: center;
  }
  & li > * {
    margin-bottom: 0 !important;
  }
  & input {
    border: none;
    padding: 0 15px !important;
    background: transparent;
  }
  & button {
    margin-left: 5px;
    padding: 0 5px;
    width: 120px;
  }
  & li {
    border: 1px solid transparent;
    display: flex;
  }
  & li:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  & .paused {
    opacity: 0.4;
  }
  & .edit-mode input {
    border: 1px solid #d1d5da;
  }
  & .timestamp {
    max-width: 170px;
  }
}
